![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

## Load Data

In [38]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

In [39]:
print(f"Observaciones --> {schools.shape[0]}\nVariables --> {schools.shape[1]}")

Observaciones --> 375
Variables --> 7

In [40]:
schools.head()

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

In [41]:
schools.tail()

                                           school_name  ... percent_tested
370  Queens High School for Information, Research, ...  ...           44.6
371  Rockaway Park High School for Environmental Su...  ...           38.5
372                   Channel View School for Research  ...           76.6
373                    Rockaway Collegiate High School  ...           46.5
374                                  Scholars' Academy  ...           99.2

[5 rows x 7 columns]

In [42]:
schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB

# Which NYC schools have the best math results?

In [43]:
# Calculate the best math results threshold (80% of 800)
best_math_threshold = 0.8 * 800

In [44]:
# Filter the schools with math scores at least 80% of the maximum possible score
best_math_schools = schools[schools['average_math'] >= best_math_threshold]
best_math_schools

                                           school_name  ... percent_tested
0    New Explorations into Science, Technology and ...  ...            NaN
45                       Eleanor Roosevelt High School  ...           86.0
68   High School for Mathematics, Science, and Engi...  ...           92.6
88                              Stuyvesant High School  ...           97.4
93                 Staten Island Technical High School  ...           99.7
170                       Bronx High School of Science  ...           97.0
174  High School of American Studies at Lehman College  ...           91.8
280                     Brooklyn Technical High School  ...           95.5
333                        Townsend Harris High School  ...           97.1
365  Queens High School for the Sciences at York Co...  ...           97.9

[10 rows x 7 columns]

In [45]:
# Select only the 'school_name' and 'average_math' columns
best_math_schools = best_math_schools[['school_name', 'average_math']]
best_math_schools

                                           school_name  average_math
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641
68   High School for Mathematics, Science, and Engi...           683
88                              Stuyvesant High School           754
93                 Staten Island Technical High School           711
170                       Bronx High School of Science           714
174  High School of American Studies at Lehman College           669
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
365  Queens High School for the Sciences at York Co...           701

In [46]:
# Sort the DataFrame by 'average_math' in descending order
best_math_schools = best_math_schools.sort_values('average_math', ascending=False)
best_math_schools

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [47]:
# Now best_math_schools contains the schools with the best math results
print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

# What are the top 10 performing schools based on the combined SAT scores?

In [48]:
# Calculate the total SAT score for each school
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']
schools.head()

                                         school_name  ... total_SAT
0  New Explorations into Science, Technology and ...  ...      1859
1                               Essex Street Academy  ...      1193
2                       Lower Manhattan Arts Academy  ...      1261
3    High School for Dual Language and Asian Studies  ...      1529
4      Henry Street School for International Studies  ...      1197

[5 rows x 8 columns]

In [49]:
# Sort the schools by the total SAT score in descending order
schools_sorted = schools.sort_values('total_SAT', ascending=False)
schools_sorted

                                           school_name  ... total_SAT
88                              Stuyvesant High School  ...      2144
170                       Bronx High School of Science  ...      2041
93                 Staten Island Technical High School  ...      2041
174  High School of American Studies at Lehman College  ...      2013
333                        Townsend Harris High School  ...      1981
..                                                 ...  ...       ...
171              Kingsbridge International High School  ...       987
337             Pan American International High School  ...       978
295      International High School at Prospect Heights  ...       946
247                          Multicultural High School  ...       926
182   Pan American International High School at Monroe  ...       924

[375 rows x 8 columns]

In [50]:
# Select the top 10 schools
top_10_schools = schools_sorted.head(10)
top_10_schools

                                           school_name  ... total_SAT
88                              Stuyvesant High School  ...      2144
170                       Bronx High School of Science  ...      2041
93                 Staten Island Technical High School  ...      2041
174  High School of American Studies at Lehman College  ...      2013
333                        Townsend Harris High School  ...      1981
365  Queens High School for the Sciences at York Co...  ...      1947
5                       Bard High School Early College  ...      1914
280                     Brooklyn Technical High School  ...      1896
45                       Eleanor Roosevelt High School  ...      1889
68   High School for Mathematics, Science, and Engi...  ...      1889

[10 rows x 8 columns]

In [51]:
# Create a new DataFrame with the top 10 schools and their total SAT scores
top_10_schools = top_10_schools[['school_name', 'total_SAT']]
top_10_schools

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

In [52]:
# Now top_10_schools contains the top 10 schools with the highest total SAT scores
print(top_10_schools)

                                           school_name  total_SAT
88                              Stuyvesant High School       2144
170                       Bronx High School of Science       2041
93                 Staten Island Technical High School       2041
174  High School of American Studies at Lehman College       2013
333                        Townsend Harris High School       1981
365  Queens High School for the Sciences at York Co...       1947
5                       Bard High School Early College       1914
280                     Brooklyn Technical High School       1896
45                       Eleanor Roosevelt High School       1889
68   High School for Mathematics, Science, and Engi...       1889

# Which single borough has the largest standard deviation in the combined SAT score?

In [53]:
# Group by borough and calculate statistics
borough_stats = schools.groupby('borough').agg(
    num_schools=('school_name', 'count'),
    average_SAT=('total_SAT', 'mean'),
    std_SAT=('total_SAT', 'std')
).reset_index()

borough_stats

         borough  num_schools  average_SAT     std_SAT
0          Bronx           98  1202.724490  150.393901
1       Brooklyn          109  1230.256881  154.868427
2      Manhattan           89  1340.134831  230.294140
3         Queens           69  1345.478261  195.252899
4  Staten Island           10  1439.000000  222.303596

In [54]:
# Find the borough with the largest standard deviation of total_SAT
largest_std_dev_borough = borough_stats.loc[borough_stats['std_SAT'].idxmax(), 'borough']
largest_std_dev_borough

'Manhattan'

In [55]:
# Create a new DataFrame for the borough with the largest standard deviation
largest_std_dev = borough_stats[borough_stats['borough'] == largest_std_dev_borough]
largest_std_dev

     borough  num_schools  average_SAT    std_SAT
2  Manhattan           89  1340.134831  230.29414

In [56]:
# Round all numeric values to two decimal places
largest_std_dev = largest_std_dev.round(2)
largest_std_dev

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29

In [57]:
# Now largest_std_dev contains the borough with the largest standard deviation of total_SAT
print(largest_std_dev)

     borough  num_schools  average_SAT  std_SAT
2  Manhattan           89      1340.13   230.29