![NYC Skyline](nyc.jpg)

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [112]:
# Import necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Cargando los datos

In [113]:
# Cargar el archivo CSV
price_df = pd.read_csv("data/airbnb_price.csv")

# Cargar el archivo Excel
room_type_df = pd.read_excel('data/airbnb_room_type.xlsx')

# Cargar el archivo TSV
last_review_df = pd.read_csv('data/airbnb_last_review.tsv', sep='\t')

## Explorar

In [114]:
# Explorar el DataFrame de precios
print("Archivo price:\n")
print(price_df.head())
print("\n")
print(price_df.info())

Archivo price:

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None

In [115]:
# Explorar el DataFrame de tipos de habitacion
print("Archivo tipos de habitacion")
print(room_type_df.head())
print("\n")
print(room_type_df.info())

Archivo tipos de habitacion
   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   description  25199 non-null  object
 2   room_type    25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None

In [116]:
# Explorar el DataFrame de ultimas revisiones
print("Ultimas revisiones")
print(last_review_df.head())
print("\n")
print(last_review_df.info())

Ultimas revisiones
   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
dtypes: int64(1), object(2)
memory usage: 591.0+ KB
None

# 2. Fusionar los DataFrame

In [117]:
# Fusionar price_df y room_type_df

combined_df = pd.merge(price_df, room_type_df, on='listing_id', how='inner')

# Verificar
combined_df.head()

   listing_id  ...        room_type
0        2595  ...  Entire home/apt
1        3831  ...  Entire home/apt
2        5099  ...  Entire home/apt
3        5178  ...     private room
4        5238  ...  Entire home/apt

[5 rows x 5 columns]

In [118]:
# Fusionar el resultado con last_review_df

final_df = pd.merge(combined_df, last_review_df, on='listing_id', how='inner')

final_df.head()

   listing_id        price  ...    host_name   last_review
0        2595  225 dollars  ...     Jennifer   May 21 2019
1        3831   89 dollars  ...  LisaRoxanne  July 05 2019
2        5099  200 dollars  ...        Chris  June 22 2019
3        5178   79 dollars  ...     Shunichi  June 24 2019
4        5238  150 dollars  ...          Ben  June 09 2019

[5 rows x 7 columns]

# 3. Determinar las fechas de review mas antiguas y mas recientes

In [119]:
# Convertir la columna `last_review` a tipo datetime

final_df['last_review'] = pd.to_datetime(final_df['last_review'])

In [120]:
# Encontrar la fecha de revision mas antigua
earliest_review_date = final_df['last_review'].min()


print("La fecha mas antigua")
print(earliest_review_date)

# Encontrar la fecha de revision mas reciente
most_recent_review_date = final_df['last_review'].max()
print('\nLa fecha mas reciente')
print(most_recent_review_date)

La fecha mas antigua
2019-01-01 00:00:00

La fecha mas reciente
2019-07-09 00:00:00

# 4. Encontrar cuantas listas de habitaciones privadas

In [121]:
final_df['room_type'].head()

0    Entire home/apt
1    Entire home/apt
2    Entire home/apt
3       private room
4    Entire home/apt
Name: room_type, dtype: object

In [122]:
# Convertir la columna `room_type` a minusculas

final_df['room_type'] = final_df['room_type'].str.lower()

# Mostrar resultados
final_df['room_type'].head()

0    entire home/apt
1    entire home/apt
2    entire home/apt
3       private room
4    entire home/apt
Name: room_type, dtype: object

In [123]:
# Contar las listas que son habitaciones privadas

private_rooms_count = final_df[final_df['room_type'] == 'private room'].shape[0]

print("El numero total de habitaciones privadas son:")
private_rooms_count

El numero total de habitaciones privadas son:

11356

# 5. Encontrar el precio promedio de las listas

In [124]:
final_df['price'].head()

0    225 dollars
1     89 dollars
2    200 dollars
3     79 dollars
4    150 dollars
Name: price, dtype: object

In [125]:
# Extrar el numero de la columna `price`
import re

final_df['price'] = final_df['price'].apply(lambda x: float(re.search(r'\d+', x).group()))

In [126]:
print(final_df['price'])

0        225.0
1         89.0
2        200.0
3         79.0
4        150.0
         ...
25204    129.0
25205     45.0
25206    235.0
25207    100.0
25208     30.0
Name: price, Length: 25209, dtype: float64

In [127]:
# Calcular la media de los precios

average_price = final_df['price'].mean()

print('Precio promedio de las listas:')
average_price

Precio promedio de las listas:

141.7779364512674

# 6. Combinar los insights que hemos recopilado

In [128]:
# Redondear el avg_price a dos decimales

average_price_rounded = round(average_price, 2)

print(f"Precio promedio: ${average_price_rounded}")

Precio promedio: $141.78

In [129]:
# Create el DataFrame review_dates

review_dates = pd.DataFrame(
    {
        "first_reviewed": [earliest_review_date],
        "last_reviewed": [most_recent_review_date],
        "nb_private_rooms": [private_rooms_count],
        "avg_price": [average_price_rounded]
    }
)

review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78